.node-type-book {

  .wrapper {

    hr {
      margin-bottom: 11px;
    }

    .bread-crumbs {
      margin-right: 4px;
      margin-top: 10px;

      li {
        display: inline;
        font-weight: bold;

        &:after {
          content: ' >';
        }

        &.last:after {
          content: '';
        }
      }
    }

    .hr-title {
      margin: 13px 0 62px;
      font-size: 24px;
      letter-spacing: 2px;

      &:before, &:after {
        width: 45%;
      }
    }

    .main-content {
      margin-top: 30px;
      text-align: left;

      .top-details {

        padding: 0 21px 53px;
        border-bottom: 2px solid $darkgray;
        margin-bottom: 29px;

        .title {
          font-size: 31px;
          font-weight: normal;
          line-height: 1.07;
          text-transform: uppercase;
          margin-bottom: 12px;
          letter-spacing: -0.5px;
        }

        .field {
          line-height: 2.31;
          letter-spacing: 0.4px;
        }
      }

      .field{
        clear: both;
        line-height: 2.2;
        letter-spacing: 0.1px;

        .field-label {
          display: inline-block;
          font-weight: normal;

          &.type-label {
            font-size: 16px;
            line-height: 1.2;
          }
        }

        .field-items {
          display: inline-block;
          font-weight: bold;
        }
      }

      .details-navigation {
        font-family: bell_mtbold;
        letter-spacing: 0.54px;
        padding-bottom: 13px;
        height: 26px;

        ul{
          height: 25px;
          width: 97%;
          overflow: hidden;
          text-overflow: ellipsis;
          float: left;

          li {
            display: list-item;
            list-style-type: disc;
            margin: 0 13px;
            float: left;
            font-size: 14px;

            &.first
            {
              list-style-type: none;
            }

             a:hover {
              color: $lightBlue;
            }

            a {
              color: $darkgray;
              font-size: 19px;
            }
          }
        }

        &:before, &:after {
          background: url('../images/sprites.png') no-repeat center;
          margin-top: 4px;
        }

        &:before {
          content: " ";
          background-position: -200px 0;
          width: 9px;
          height: 15px;
          float: left;
        }

        &:before.disabled {
          background-position: -200px -50px;
        }

        &:after {
          content: " ";
          background-position: -220px 0;
          width: 9px;
          height: 15px;
          float: right;
        }

        &:after.disabled {
          background-position: -220px -50px;
        }
      }

      .fields-group {

        clear: both;
        border-top: 1px solid $darkgray;
        padding: 6px 15px 2px;
        margin-top: 56px;

        .fields-group-name {
          font: 24px bell_mtbold;
          color: $lightBlue;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          width: 267px;
          display: inline-block;
          vertical-align: top;

        }

        .fields-group-name-last {
          margin-top: 5px;
        }

        .fields {
          display: inline-block;
          width: 60%;
          margin-top: -3px;
          margin-left: 2px;
          font-size: 14px;

          .content {
            font-weight: bold;
          }
        }
      }
    }

    footer {
      margin-top: 22px;
    }
  }
}
