@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bell_mtbold';
  src: url('../fonts/bellb-webfont.eot');
  src: url('../fonts/bellb-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bellb-webfont.woff2') format('woff2'),
  url('../fonts/bellb-webfont.woff') format('woff'),
  url('../fonts/bellb-webfont.ttf') format('truetype'),
  url('../fonts/bellb-webfont.svg#bell_mtbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
