.front {
  text-align: center;

  .bread-crumbs {
    display: none;
  }

  .main-content {
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-bottom: 36px;
    margin-left: 1px;
  }

  .search .pane-title {
    display: none;
  }

  .tags-cloud-wrapper {
    margin-top: 45px;
    margin-bottom: 51px;

    h3 {
      color: $lightBlue;
      font-family: bell_mtbold;
      font-weight: bold;
      margin: 0px 4px 0px 0px;
      letter-spacing: 0.9px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        border-bottom: 1px solid $lightBlue;
        width: 38%;
        padding-top: 12px;

        @media (max-width: 850px) {
          display: none;
        }
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    .tags-cloud {
      padding-top: 6px;
      max-width: 815px;
      margin: 0 auto;

      a {
        display: inline-block;
        background-color: $lightBlue;
        border-radius: 10.5px;
        padding: 0 18px;
        margin: 5px 8px 0 0;
        height: 20px;
        line-height: 21px;
        color: white;
        font-size: 11px;
        white-space: nowrap;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }
  .wrapper {
    footer {
      .login-area {
        margin-top:6px;

        ul {
          padding-top: 0px;
        }
      }
    }
  }
}




