.front {
  text-align: center;

  .bread-crumbs {
    display: none;
  }

  .main-content {
    font-weight: bold;
    letter-spacing: -0.4px;
    margin-bottom: 36px;
  }

  .search {

    form {
      position: relative;
      max-width: 784px;
      margin: 0 auto;
      padding-right: 28px;

      input {
        height: 48px;
        display: inline-block;
        vertical-align: top;
        color: $darkgray;
        font-weight: bold;
        letter-spacing: -0.98px;
      }

      ::-webkit-input-placeholder {
        color: $darkgray;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: $darkgray;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: $darkgray;
      }

      :-ms-input-placeholder {
        color: $darkgray;
      }

      .search-text {
        border: 1px solid #a5a29b;
        border-radius: 24px;
        height: 46px;
        width: 100%;
        padding: 0 10px 0 13px;
        background-color: rgba(255, 255, 255, 0.4);
        font-size: 13px;
        letter-spacing: -0.6px;
      }

      .submit {
        border: none;
        right: 1px;
        top: 0;
        position: absolute;
        border-radius: 0 24px 24px 0;
        background: #615f59 url('../images/search.png') no-repeat 14px 11px;
        width: 60px;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }

  .tags-cloud-wrapper {
    margin-top: 45px;
    margin-bottom: 77px;

    h3 {
      color: $lightBlue;
      font-family: bell_mtbold;
      font-weight: bold;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        border-bottom: 1px solid $lightBlue;
        width: 38%;
        padding-top: 11px;

        @media (max-width: 850px) {
          display: none;
        }
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    .tags-cloud {
      padding-top: 5px;
      max-width: 815px;
      margin: 0 auto;

      a {
        display: inline-block;
        background-color: $lightBlue;
        border-radius: 10.5px;
        padding: 0 18px;
        margin: 4px 8px 0 0;
        height: 21px;
        line-height: 19px;
        color: white;
        font-size: 11px;
        white-space: nowrap;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }
}


