.pane-term-nodes-list {

  a {
    text-align: left;
    float: left;
    clear: left;
    margin-left: 34px;
    font: 11px open_sanslight;
    font-weight: bold;
    line-height: 2.41;
    letter-spacing: 1.2px;
    color: $darkgray;

    &:visited {
      color: $darkgray;
    }
  }

}