@media (min-width: 850px) {
  .page-places, .page-taxonomy-term {
    .pane-terms-list, .pane-term-nodes-list {
      width: 30%;
      float: left;

      .pane-content {
        padding-right: 30px;
      }
    }

    .pane-cities-map-panel-pane-1 {
      width: 70%;
      float: left;
    }
  }

  #ip-geoloc-map-of-view-cities_map-panel_pane_1 {
    height: 600px !important;
  }
}