body {
  .page-books .wrapper .books-list .letter-wrapper {
    clear: both;
    margin-bottom: 48px;
  }
  .page-books .wrapper footer {
    margin-top: 114px;
  }

  .page-single-book .wrapper .main-content .top-details {
    padding: 0 21px 48px;
    border-bottom: 2px solid #615f59;
    margin-bottom: 29px;
  }

  .page-single-book .wrapper .main-content .fields-group {
    clear: both;
    border-top: 1px solid #615f59;
    padding: 7px 15px 2px;
    margin-top: 56px;
  }
  .page-single-book .wrapper footer {
    margin-top: 16px;
  }

  .wrapper footer .icons-nav {
    padding-top: 5px;
    padding-bottom: 33px;
  }

  .wrapper footer .icons-nav {
    margin-top: 15px;
  }

  .wrapper footer .icons-nav li {
    background: url("../images/bullet.png") no-repeat right 10px top 27px;
  }

  .wrapper footer .icons-nav li.last {
    background: none;
  }
}

.page-books .wrapper .books-list .letter-wrapper {
  margin-bottom: 46px;
}
