@import 'fonts.scss';
@import 'variables.scss';

@import 'book';
@import 'books';
@import 'homepage.scss';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: white url('../images/site_background.jpg') no-repeat center top;
  background-size: 100%;
  overflow-x: hidden;
  font: 14px open_sansregular;
  font-size: small;
  text-align: center;
  color: $darkgray;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  text-transform: uppercase;
}

p {
  margin: 0;
}

a, a:hover, a:visited {
  color: $lightBlue;
  text-decoration: none;
}

/* reset bootstrap */
*, *:before, *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.wrapper {
  max-width: 950px;
  margin: 17px auto 14px;
  line-height: 1.7em;

  header {

    a {
      color: $darkgray;
      display: inline-block;
      padding: 0;

      &:hover {
        color: $lightBlue;
      }
    }

    .top-navigation {
      margin-bottom: 16px;
      font-family: bell_mtbold;

      li {

        &:before {
          content: '.';
          margin-right: 16px;
        }

        &.first, &.last {
          &:before {
            content: none;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        margin-left: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        vertical-align: middle;

        &.last {
          margin-left: 15px;
          margin-top: 4px;

          a {
            width: 30px;
            height: 30px;
            background: url('../images/top_search.png') no-repeat center bottom;
            display: inline-block;
            text-indent: 10000px;
          }
        }
      }
    }

    .site-name {
      font-family: bell_mtbold;
      font-size: 64px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 6px;
      letter-spacing: 10.3px;

      a, a:hover {
        color: $darkgray;
      }

      a span {
        font-size: 35px;
        display: block;
        text-transform: none;
        letter-spacing: 11.2px;
      }

      @media (max-width: 400px) {
        font-size: 35px;

        a span {
          font-size: 15px;
          letter-spacing: 9.5px;
        }
      }
    }

    hr {
      width: 17%;
      height: 4px;
      background-color: $darkgray;
      margin: 0 auto 33px;
      border: none;
    }
  }

  .nav-bar li {
    display: inline-block;
  }

  .hr-title {
    color: $lightBlue;
    font-family: bell_mtbold;
    font-weight: bold;
    letter-spacing: 1px;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      border-bottom: 1px solid $lightBlue;
      width: 38%;
      padding-top: 10px;
    }

    &:before {
      float: left;
    }

    &:after {
      float: right;
    }
  }

  footer {
    overflow: hidden;
    clear: both;

    .icons-nav {
      font-family: bell_mtbold;
      border-bottom: 1px solid #817f7a;
      padding-bottom: 35px;

      li {
        width: 165px;
        padding-right: 28px;
        background: url('../images/bullet.png') no-repeat right 10px top 28px ;

        @media (max-width: 750px) {
          width: 45%;
          background: none;
          padding: 0;
          margin-bottom: 30px;
        }

        @media (max-width: 400px) {
          width: 100%;
        }

        &.last {
          padding-right: 0;
          background: none;
        }

        a {
          display: block;
          color: $darkgray;
          display: inline-block;
          letter-spacing: -0.2px;
          padding: 0;

          &:before {
            content: '';
            display: block;
            background: url('../images/sprites.png') no-repeat;
            height: 37px;
            margin: 0px auto 13px;
          }

          &:hover {
            color: $lightBlue;
            background-color: transparent;
          }
        }

        &.first a {

          &:before {
            background-position: 0 0;
            width: 28px;
          }

          &:hover:before {
            background-position: 0 -50px;
          }
        }

        &:nth-child(2) a {
          &:before {
            background-position: -50px 0;
            width: 28px;
          }

          &:hover:before {
            background-position: -50px -50px;
          }
        }

        &:nth-child(3) a {
          &:before {
            background-position: -100px 0;
            width: 36px;
          }

          &:hover:before {
            background-position: -100px -50px;
          }
        }

        &.last a {
          &:before {
            background-position: -150px 0;
            width: 23px;
          }

          &:hover:before {
            background-position: -150px -50px;
          }
        }
      }

    }

    .bottom-nav {
      display: inline-block;

      ul {
        padding-top: 25px;
        letter-spacing: -0.8px;
        display: inline-block;
      }

      li {
        float: left;
        padding: 0px 22px 0px 0px;
        display: inline-block;

        &:after {
          content: '.';
          font-weight: bold;
          vertical-align: bottom;
          padding-left: 22px;
          color: $lightBlue;
        }

        &.last:after {
          content: '';
          padding-left: 0;
        }

        &.first {
          padding-left: 23px;
        }
      }

      a {
        color: $lightBlue;
        font: 18px bell_mtbold;
      }

      &:before,
      &:after {
        margin-top: 25px;
        padding: 0;
        content: '+';
        font-size: 12px;
        font-weight: bold;
        color: $lightBlue;
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    .bottom-nav {
      display: inline-block;

      ul {
        padding-top: 25px;
        letter-spacing: -0.8px;
        display: inline-block;
      }

      li {
        float: left;
        padding: 0px 22px 0px 0px;
        display: inline-block;

        &:after {
          content: '.';
          font-weight: bold;
          vertical-align: bottom;
          padding-left: 22px;
          color: $lightBlue;
        }

        &.last:after {
          content: '';
          padding-left: 0;
        }

        &.first {
          padding-left: 23px;
        }
      }

      a {
        color: $lightBlue;
        font: 18px bell_mtbold;
      }

      &:before,
      &:after {
        margin-top: 25px;
        padding: 0;
        content: '+';
        font-size: 12px;
        font-weight: bold;
        color: $lightBlue;
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    .login-area {
      padding-top: 6px;
      text-transform: uppercase;


      a {
        color: $lightBlue;
        font: 15px bell_mtbold;
        letter-spacing: -0.5px;
        padding: 0;
        display: inline;

        &:before,
        &:after {
          padding: 0 13px;
          content: '+';
          font-size: 12px;
        }
      }
    }
  }
}
