/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  color: #615f59;
  font-size: 115%;
  width: 60em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.header a {
  font-weight: bold;
}

.title {
  font-size: 64px;
  margin-bottom: 2em;
}

.title a , .title a:hover {
  color: #615f59;
}

.nav-bar li {
  display: inline-block;
}

footer {
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;

  .icons-nav {
    border-bottom: 1px solid #817f7a;

    li {
      width: 168px;

      a {
        display: block;

        .icon {
          display: block;
          background: url(../images/sprites.png) no-repeat;
          height: 55px;
          margin: 0 auto;
        }

        &:hover {
          span {
            color: #7dbad7;
          }

          .icon {
            &.books {
              background-position: 0 -50px;
            }

            &.digital-books {
              background-position: -50px -50px;
            }

            &.people {
              background-position: -100px -50px;
            }

            &.places {
              background-position: -150px -50px;
            }
          }
        }
      }
    }

    .icon-text {
      display: inline-block;
      margin-top: 55px;
    }

    .books-icon .icon {
      background-position: 0 0;
      width: 28px;
      height: 37px;
    }

    .digital-books-icon .icon{
      background-position: -50px 0;
      width: 28px;
      height: 36px;
    }

    .people-icon .icon{
      background-position: -100px 0;
      width: 36px;
      height: 35px;
    }

    .places-icon .icon{
      background-position: -150px 0;
      width: 23px;
      height: 34px;
    }


  }

  .login-area{
    padding-top: 7px;

    a {
      color: #7dbad7;
    }
  }
}

/*****************************************************************************/
/*
/* Home page
/*
/*****************************************************************************/

.front {
  text-align: center;
}

.tags-cloud-wrapper {
  border-top: 1px solid #7dbad7;

  h2 {
    color: #7dbad7;
    font-weight: bold;
  }

  .tags-cloud {
    padding-top: 18px;

    li {
      display: inline-block;
      font-size: 19px;
      background-color: #7dbad7;
      border-radius: 10px;
      padding: 2px 12px;
      margin-bottom: 5px;
      white-space: nowrap;
    }

    a {
      color: #ffffff;
    }
  }
}


