@import 'variables.scss';
@import 'pages/homepage.scss';

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bell_mtbold';
  src: url('../fonts/bellb-webfont.eot');
  src: url('../fonts/bellb-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bellb-webfont.woff2') format('woff2'),
  url('../fonts/bellb-webfont.woff') format('woff'),
  url('../fonts/bellb-webfont.ttf') format('truetype'),
  url('../fonts/bellb-webfont.svg#bell_mtbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: white url('../images/site_background.jpg') no-repeat center top;
  //background-size: 100%;
  overflow-x: hidden;
  font: 14px open_sansregular;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 0; }

a         { color: $lightBlue; }
a:hover   { color: $lightBlue; }
a:visited { color: $lightBlue; }

.site {
  color: $darkgray;
  max-width: 950px;
  margin: 17px auto 14px;
  line-height: 1.7em;

  a {
    text-decoration: none;
  }

  header {

    a {
      color: $darkgray;

      &:hover {
        color: $lightBlue;
      }
    }

    .top-navigation {
      margin-bottom: 27px;
      font-family: bell_mtbold;

      li {
        padding: 0 15px;
        letter-spacing: 1px;

        &.first {
          padding-left: 0px;
        }

        &.last {
          padding-right: 5px;
        }
        
        &.search {
          width: 30px;
          height: 30px;
          background: url('../images/top_search.png') no-repeat center bottom;
          padding-left: 0px;

          span a {
            display: inline-block;
            width: 100%;
            height: 22px;
          }
        }
      }

    }

    .site-name {
      font-family: bell_mtbold;
      font-size: 64px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 6px;
      letter-spacing: 11.4px;

      a,
      a:hover {
        color: $darkgray;
      }
    }

    hr {
      width: 17%;
      height: 4px;
      background-color: $darkgray;
      margin: 0 auto 33px;
      border: none;
    }
  }

  .nav-bar li {
    display: inline-block;
  }

  footer {
    overflow: hidden;

    .icons-nav {
      font-family: bell_mtbold;
      border-bottom: 1px solid #817f7a;
      padding-bottom: 35px;

      li {
        width: 165px;
        padding-right: 28px; /* LTR */
        background: url('../images/bullet.png') no-repeat right 10px top 28px ;

        &.last {
          padding-right: 0;
          background: none;
        }

        a {
          display: block;
          color: $darkgray;

          .icon {
            display: block;
            background: url('../images/sprites.png') no-repeat;
            margin: 0 auto;
            height: 37px;
          }

          &:hover {
            span {
              color: $lightBlue;
            }

            .icon {
              height: 37px;

              &.books {
                background-position: 0 -50px;
              }

              &.digital-books {
                background-position: -50px -50px;
              }

              &.people {
                background-position: -100px -50px;
              }

              &.places {
                background-position: -150px -50px;
              }
            }
          }
        }
      }

      .icon-text {
        display: inline-block;
        margin-top: 14px;
      }

      .books-icon .icon {
        background-position: 0 0;
        width: 28px;
      }

      .digital-books-icon .icon {
        background-position: -50px 0;
        width: 28px;
      }

      .people-icon .icon {
        background-position: -100px 0;
        width: 36px;
      }

      .places-icon .icon {
        background-position: -150px 0;
        width: 23px;
      }

    }

    .login-area {
      padding-top: 9px;
      letter-spacing: 0px;

      a {
        color: $lightBlue;
        font: 16px bell_mtbold;
        font-weight: bold;

        &:before,
        &:after {
          padding: 0 10px;
          content: '+';
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}



