<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

</head>
<body class="front">

<div class="site">
  <header>
    <nav class="top_navigation nav-bar">
      <ul>
        <li><a href="books">BOOKS</a></li>
        <li><a href="people">PEOPLE</a></li>
        <li><a href="places">PLACES</a></li>
        <li class="search"><span></span></li>
      </ul>
    </nav>
    <h1 class="title"><a href="/">HASKALA</a></h1>
  </header>

  {{ content }}

  <footer>
    <nav class="icons-nav nav-bar">
      <ul>
        <li class="books-icon">
          <a href="#">
            <span class="icon books"></span>
            <span class="icon-text">BOOKS</span>
          </a>
        </li>
        <li class="digital-books-icon">
          <a href="#">
            <span class="icon digital-books"></span>
            <span class="icon-text">DIGITAL BOOKS</span>
          </a>
        </li>
        <li class="people-icon">
          <a href="#">
            <span class="icon people"></span>
            <span class="icon-text">PEOPLE</span>
          </a>
        </li>
        <li class="places-icon last">
          <a href="#">
            <span class="icon places"></span>
            <span class="icon-text">PLACES</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="login-area">
      <a href="/user/login">+  LOGIN  +</a>
    </div>
  </footer>
</div>

<!-- build:js(app) /js/scripts.js -->
<script src="/js/main.js"></script>
<!-- endbuild -->
</body>
</html>
