<footer>
  <nav class="icons-nav nav-bar footer-nav-bar">
    <ul class="menu nav"><li class="first leaf active"><a href="" title="" class="active">Books</a></li>
      <li class="leaf active"><a href="" title="" class="active">Digital Books</a></li>
      <li class="leaf active"><a href="" title="" class="active">People</a></li>
      <li class="last leaf active"><a href="" title="" class="active">Places</a></li>
    </ul>
  </nav>

  <div class="login-area">
    <nav>
      <ul>
        <li class="first"><a href="#">Add a book</a></li>
        <li><a href="#">Add a book series</a></li>
        <li class="last"><a href="#">Add a person</a></li>
        <li class="last login"><a href="#">Login</a></li>
      </ul>
    </nav>
  </div>
</footer>
