<footer>
  <nav class="icons-nav nav-bar">
    <ul>
      <li class="books-icon">
        <a href="#">
          <span class="icon books"></span>
          <span class="icon-text">BOOKS</span>
        </a>
      </li>
      <li class="digital-books-icon">
        <a href="#">
          <span class="icon digital-books"></span>
          <span class="icon-text">DIGITAL BOOKS</span>
        </a>
      </li>
      <li class="people-icon">
        <a href="#">
          <span class="icon people"></span>
          <span class="icon-text">PEOPLE</span>
        </a>
      </li>
      <li class="places-icon last">
        <a href="#">
          <span class="icon places"></span>
          <span class="icon-text">PLACES</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="login-area">
    <a href="/user/login">LOGIN</a>
  </div>
  <nav class="bottom-nav">
    <ul>
      <li class="first"><a href="#">Add a book</a></li>
      <li><a href="#">Add a book series</a></li>
      <li class="last"><a href="#">Add a person</a></li>
    </ul>
  </nav>
</footer>

