<header>
  <nav class="top-navigation nav-bar">
    <ul>
      <li class="first"><a href="#">Books</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Places</a></li>
      <li class="search last"><a href="#"></a></li>
    </ul>
  </nav>

  <h1 class="site-name"><a href="/"><span>Library of the</span> Haskala</a></h1>
  <h1 class="site-name"><a href="/">Haskala</a></h1>

  <hr>

  <nav class="bread-crumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="books">Books</a></li>
      <li class="last"><a href="#">name of book</a></li>
    </ul>
  </nav>
</header>
