.front {
  text-align: center;

  .title {
    font-size: 64px;
    margin-bottom: 2em;

    a,
    a:hover {
      color: #615f59;
    }
  }

  .search-wrapper{
    margin-bottom: 50px;

    form {
      position: relative;
      max-width: 810px;
      margin: 0 auto;

      input {
        height: 48px;
        display: inline-block;
        vertical-align: top;
      }

      .hp-search-text {
        border: 1px solid #615f59;
        border-radius: 24px;
        height: 46px;
        width: 90%;
        padding: 0 10px 0 15px;

        background-color: transparent;
      }

      .hp-search-submit {
        border: 0px solid #615f59;
        right: -3px;
        top: 0;
        position: absolute;
        border-radius: 0 24px 24px 0;
        background: #615f59 url(/images/search.png) no-repeat center;
        width: 55px;


        &:hover {
          background-color: #d8bf82;
        }
      }
    }
  }

  .tags-cloud-wrapper {
    margin-bottom: 75px;

    h3 {
      color: $lightBlue;
      font-weight: bold;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        border-bottom: 1px solid $lightBlue;
        width: 37%;
        padding-top: 10px;
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    .tags-cloud {
      padding-top: 18px;

      li {
        display: inline-block;
        font-size: 19px;
        background-color: $lightBlue;
        border-radius: 10px;
        padding: 2px 12px;
        margin-bottom: 5px;
        white-space: nowrap;

        &:hover {
          background-color: #d8bf82;
        }
      }

      a {
        color: white;
      }
    }
  }
}


