.page-single-book {

  background-image: url(../images/singlebook_1280.jpg);

  .site {

    hr {
      margin-bottom: 11px;
    }
    .bread-crumbs {

      li {
        display: inline;
        font-weight: bold;

        &:after {
          content: ' >';
        }
      }
    }

    .field-label {
      float: left;
    }

    .details-navigation{

      li {
        display: inline;
      }
    }
  }

}
